<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/header.ejs'); %>
	<body>
		<%- include('./partials/nav.ejs'); %>

		<div class="about content">
			<h2>About us</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum animi
				tenetur sit ad perferendis? Velit natus ab aliquam aperiam ea,
				aspernatur qui. Rerum, deleniti inventore! Recusandae debitis illo sit
				saepe.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum animi
				tenetur sit ad perferendis? Velit natus ab aliquam aperiam ea,
				aspernatur qui. Rerum, deleniti inventore! Recusandae debitis illo sit
				saepe.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum animi
				tenetur sit ad perferendis? Velit natus ab aliquam aperiam ea,
				aspernatur qui. Rerum, deleniti inventore! Recusandae debitis illo sit
				saepe.
			</p>
		</div>
		<%- include('./partials/footer.ejs'); %>
	</body>
</html>
